[Desktop Entry]
Name=Sonden-RX 3 Sticks
Exec=/home/pi/dxlAPRS/aprs/sonde3-gui.sh
Icon=/home/pi/dxlAPRS/aprs/www/icon/163.gif
Terminal=false
Type=Application
StartupNotify=false
Path=/home/pi/dxlAPRS/aprs/
Name[de_DE]=Sonden-RX 3 Sticks